Repository jab/bidict: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: double-quote-string-fixer
      # This stopped working so comment out for now (started applying to files that didn't need it):
      # - id: fix-encoding-pragma
      - id: check-yaml

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
      - id: codespell
        args: ["--uri-ignore-words-list", "*"]  # https://github.com/codespell-project/codespell/issues/2473

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
      - id: mypy
        exclude: setup.py|docs/conf.py|tests

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: setup.py|docs/conf.py|tests

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8

  - repo: https://github.com/dosisod/refurb
    rev: v1.2.0
    hooks:
      - id: refurb

  # https://pre-commit.com/#repository-local-hooks
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: setup.py|run_tests.py|docs/conf.py

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs

Add refurb to pre-commit hooks
  .pre-commit-config.yaml
  bidict/__init__.py
  pyproject.toml
  setup.py
Due: pyright, pylint

Minor CI refactor.
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  pytest.ini
  run_tests.py
  tox.ini
Due: pyright

Minor CI refactor.
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pytest.ini
  requirements/lint.in
  run_tests.py
  tox.ini
Due: pyright

Upgrade pre-commit hooks.
  .pre-commit-config.yaml
  .refurb.toml
  pyproject.toml
Due: none

Upgrade dev dependencies.
  .devcontainer/Dockerfile
  requirements/dev.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/tests.txt
Due: none

Declare support for Python 3.11.
  setup.py
Due: pyright

Add action for GitHub Actions Version Updater.
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_github_actions.yml
Due: none

Update GitHub Actions, add Action Updater action.
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Update dev dependencies.
  .pre-commit-config.yaml
  requirements/docs.txt
Due: none

Run pre-commit with --verbose.
  .github/workflows/lint.yml
  tox.ini
Due: none

Name GHA jobs "main".
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Upgrade dev dependencies.
  .gitignore
  .pre-commit-config.yaml
  .refurb.toml
  MANIFEST.in
  requirements/dev.txt
  requirements/lint.txt
  requirements/tests.txt
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/codeql.yml
  .github/workflows/codeql.yml
Due: none

Upgrade dev dependencies.
  .flake8
  .pre-commit-config.yaml
  requirements/dev.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/tests.txt
Due: none

Update GitHub Action Versions (#263)
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
Due: none

Upgrade dev dependencies.
  .flake8
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .refurb.toml
  MANIFEST.in
  requirements/dev.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/tests.txt
Due: none

flake8, pylint -> ruff, check-json5
  .devcontainer/devcontainer.json
  .flake8
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/tasks.json
  dev-deps/lint.txt
  dev-deps/test.txt
  docs/thanks.rst
  pyproject.toml
  upgrade-dev-dependencies.sh
Due: none

Use pyproject.toml instead of setup.py, etc.
  .devcontainer/Dockerfile
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  MANIFEST.in
  README.rst
  bidict/__init__.py
  bidict/metadata.py
  dev-deps/dev.txt
  dev-deps/docs.txt
  dev-deps/lint.txt
  dev-deps/test.txt
  docs/conf.py
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  requirements/docs.in
  requirements/lint.in
  requirements/tests.in
  requirements/tests.txt
  setup.cfg
  setup.py
  tests/test_metadata.py
  tox.ini
  upgrade-dev-dependencies.sh
Due: pyright, pylint

Add .envrc
  .envrc
Due: none

Upgrade dev dependencies.
  .github/workflows/test.yml
  .pre-commit-config.yaml
  bidict/_base.py
  bidict/_frozenordered.py
  bidict/_named.py
  bidict/_orderedbidict.py
  dev-deps/dev.txt
  dev-deps/docs.txt
  dev-deps/lint.txt
  dev-deps/test.txt
  docs/_static/custom.css
  docs/conf.py
  pyrightconfig.json
  tox.ini
Due: pyright, pylint

Improve deps, tests, coverage, upgrade dev dependencies.
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  dev-deps/dev.in
  dev-deps/dev.txt
  dev-deps/docs.txt
  dev-deps/lint.txt
  dev-deps/test.txt
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  tox.ini
  upgrade-dev-dependencies.sh
Due: none

Force colors in GitHub Actions output.
  .github/workflows/test.yml
  tox.ini
Due: none

Use "release-commit-sha" in GitHub Actions Version Updater, etc.
  .github/workflows/lint.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Update GitHub Action Versions (#265)
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Specify permissions for GitHub Actions workflows.
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Use sphinx.ext.graphviz instead of build-bidict-types-diagram.sh
  .readthedocs.yml
  docs/_static/bidict-types-diagram.dot
  docs/_static/bidict-types-diagram.png
  docs/_static/build-bidict-types-diagram.sh
  docs/conf.py
  docs/other-bidict-types.rst
Due: pyright

Use sphinx.ext.extlinks for :issue: links.
  CHANGELOG.rst
  docs/conf.py
  docs/learning-from-bidict.rst
Due: pyright

Bump GitHub Actions Version Updater version.
  .github/workflows/update_actions.yml
Due: none

Daily CI job with --hypothesis-profile=more-examples
  .github/workflows/test.yml
  tests/conftest.py
  tests/property_tests/_strategies.py
  tox.ini
Due: pyright, pylint

Modernize type annotations.
  bidict/__init__.py
  bidict/_abc.py
  bidict/_base.py
  bidict/_bidict.py
  bidict/_dup.py
  bidict/_exc.py
  bidict/_frozenbidict.py
  bidict/_frozenordered.py
  bidict/_iter.py
  bidict/_named.py
  bidict/_orderedbase.py
  bidict/_orderedbidict.py
  bidict/_typing.py
Due: pyright, pylint

Drop Pyright in favor of just mypy.
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  bidict/_iter.py
  docs/thanks.rst
  pyrightconfig.json
Due: pyright, pylint

rm defunct pylint references
  docs/thanks.rst
  tests/property_tests/_strategies.py
  tests/property_tests/test_properties.py
  tests/test_class_relationships.py
Due: pyright, pylint

Type check tests, fix inverted type hint, prepare for 0.22.1 release
  .pre-commit-config.yaml
  CHANGELOG.rst
  bidict/_base.py
  bidict/_bidict.py
  bidict/_iter.py
  bidict/_orderedbase.py
  bidict/_typing.py
  bidict/metadata.py
  run_tests.py
  tests/property_tests/_strategies.py
  tests/property_tests/_types.py
  tests/property_tests/test_properties.py
  tests/test_class_relationships.py
  tests/test_metadata.py
  tests/test_microbenchmarks.py
Due: pyright, pylint

Happy 2023 + bump version post-release
  LICENSE
  bidict/__init__.py
  bidict/_abc.py
  bidict/_base.py
  bidict/_bidict.py
  bidict/_dup.py
  bidict/_exc.py
  bidict/_frozenbidict.py
  bidict/_frozenordered.py
  bidict/_iter.py
  bidict/_named.py
  bidict/_orderedbase.py
  bidict/_orderedbidict.py
  bidict/_typing.py
  bidict/metadata.py
  docs/_static/bidict-types-diagram.dot
  docs/_static/build-bidict-types-diagram.sh
  docs/conf.py
  run_tests.py
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/property_tests/__init__.py
  tests/property_tests/_strategies.py
  tests/property_tests/_types.py
  tests/property_tests/test_properties.py
  tests/test_bidict.txt
  tests/test_class_relationships.py
  tests/test_metadata.py
  tests/test_microbenchmarks.py
  tests/test_namedbidict.txt
  tests/test_orderedbidict.txt
  upgrade-dev-dependencies.sh
Due: pyright, pylint

Update GitHub Action Versions (#268)
  .github/workflows/test.yml
Due: none

Go back to pytest-sphinx, use pytest-clarity, update deps
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .vscode/tasks.json
  CHANGELOG.rst
  dev-deps/dev.in
  dev-deps/dev.txt
  dev-deps/docs.txt
  dev-deps/lint.txt
  dev-deps/test.txt
  docs/addendum.rst
  docs/basic-usage.rst
  docs/conf.py
  docs/conftest.py
  docs/extending.rst
  docs/intro.rst
  docs/learning-from-bidict.rst
  docs/other-bidict-types.rst
  docs/other-functionality.rst
  pyproject.toml
  pytest.ini
  run_tests.py
  tests/conftest.py
  tests/property_tests/test_properties.py
  tox.ini
  upgrade-dev-dependencies.sh
Due: pyright, pylint

Update GitHub Action Versions (#270)
  .github/workflows/lint.yml
  .github/workflows/release-to-pypi.yml
  .github/workflows/release-to-test-pypi.yml
  .github/workflows/test.yml
  .github/workflows/update_actions.yml
Due: none

Provide development shells via "nix develop"
  flake.lock
  flake.nix
Due: none

Provide development shell via "nix develop"
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

Upgrade dev dependencies.
  .pre-commit-config.yaml
  dev-deps/dev.txt
  dev-deps/docs.txt
  dev-deps/lint.txt
  dev-deps/test.txt
Due: none
